@inherits LayoutComponentBase

<div class="container">
    <header>
        <NavMenu />
    </header>

    <div class="hardwareMonitor light">
        <HardwareMonitorComponent GridHeigth="60" />
    </div>

    <div class="main">
        @Body
    </div>
</div>
